@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body {
  background-color: #000;
  font-family: 'EB Garamond', serif;
  color: #fff;
}

.story-paragraph {
  font-size: 3em;
}


.box {
  width: 100px;
  height: 100px;
  background: #ff1c68;
  transform-origin: 50% 50%;
}